<div class="inner">
    <h1>
        <a href="index.html"><img src="../resources/images/logo.svg" alt="logo" /></a>
    </h1>
    <ul class="top-menu">
        <li><a href="login.html">로그인</a></li>
        <li><a href="join.html">회원가입</a></li>
        <li><a href="customer.html">고객문의</a></li>
    </ul>

    <nav class="nav">
        <ul class="gnb">
            <li class="m0">
                <a href="sub1.html">여성</a>
                <div class="sub sub0">
                    <div class="inner">
                        <h2>서브메뉴1</h2>
                        <div class="sub-wrap">
                            <div class="pic">
                                <img src="../resources/images/photo0.jpg" alt="" />
                                <strong>타이틀1</strong>
                            </div>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">SubMenu1</a></li>
                                    <li><a href="#">SubMenu2</a></li>
                                    <li><a href="#">SubMenu3</a></li>
                                    <li><a href="#">SubMenu4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="m1">
                <a href="sub2.html">남성</a>
                <div class="sub sub1">
                    <div class="inner">
                        <h2>서브메뉴2</h2>
                        <div class="sub-wrap">
                            <div class="pic">
                                <img src="../resources/images/photo1.jpg" alt="" />
                                <strong>타이틀2</strong>
                            </div>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">SubMenu1</a></li>
                                    <li><a href="#">SubMenu2</a></li>
                                    <li><a href="#">SubMenu3</a></li>
                                    <li><a href="#">SubMenu4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="m2">
                <a href="sub3.html">핸드백</a>
                <div class="sub sub2">
                    <div class="inner">
                        <h2>서브메뉴3</h2>
                        <div class="sub-wrap">
                            <div class="pic">
                                <img src="../resources/images/photo2.jpg" alt="" />
                                <strong>타이틀3</strong>
                            </div>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">SubMenu1</a></li>
                                    <li><a href="#">SubMenu2</a></li>
                                    <li><a href="#">SubMenu3</a></li>
                                    <li><a href="#">SubMenu4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="m3">
                <a href="sub4.html">주얼리 & 시계</a>
                <div class="sub sub3">
                    <div class="inner">
                        <h2>서브메뉴3</h2>
                        <div class="sub-wrap">
                            <div class="pic">
                                <img src="../resources/images/photo3.jpg" alt="" />
                                <strong>타이틀3</strong>
                            </div>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">SubMenu1</a></li>
                                    <li><a href="#">SubMenu2</a></li>
                                    <li><a href="#">SubMenu3</a></li>
                                    <li><a href="#">SubMenu4</a></li>
                                    <li><a href="#">SubMenu4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="m4">
                <a href="sub5.html">Fashion Show</a>
                <div class="sub sub4">
                    <div class="inner">
                        <h2>서브메뉴4</h2>
                        <div class="sub-wrap">
                            <div class="pic">
                                <img src="../resources/images/photo4.jpg" alt="" />
                                <strong>타이틀4</strong>
                            </div>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">SubMenu1</a></li>
                                    <li><a href="#">SubMenu2</a></li>
                                    <li><a href="#">SubMenu3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <!-- //end nav -->
</div>
<!-- 배경 -->
<div class="header-bg"></div>
