@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
/* 기본 폰트 설정 */
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

img,
video {
  max-width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 115px;
  overflow: hidden;
  transition: 0.4s;
}

#header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 1px;
  background: #dcdcdc;
}

.header-bg {
  border-top: 1px solid #dcdcdc;
  width: 100%;
  height: 350px;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  top: 115px;
  z-index: -10;
}

#header.on {
  height: 455px;
}

#header .inner {
  height: 355px;
}

#header h1 {
  position: absolute;
  left: 0;
  top: 65px;
}

#header h1 img {
  width: 150px;
  height: auto;
}

#header .top-menu {
  position: absolute;
  right: 0;
  top: 10px;
}

#header .top-menu li {
  display: inline-block;
  margin-left: 10px;
}

#header .top-menu li a {
  font-size: 14px;
}

/* 메뉴 */
#header .nav {
  position: absolute;
  right: 0;
  top: 55px;
}

#header .nav .gnb {
  display: flex;
}

#header .nav .gnb > li {
  margin-left: 80px;
}

#header .nav .gnb > li:first-child {
  margin-left: 0px;
}

#header .nav .gnb li a {
  display: block;
  padding: 5px 15px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

#header .nav .gnb li .sub {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

#header .nav .gnb li .sub .inner {
  width: 100%;
  background: transparent;
}

#header .nav .gnb li .sub.on {
  pointer-events: auto;
  opacity: 1;
}

#header .nav .gnb li .sub h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

#header .nav .gnb li .sub .sub-wrap {
  display: flex;
}

#header .nav .gnb li .sub .sub-wrap .pic img {
  width: 200px;
}

#header .nav .gnb li .sub .sub-wrap .pic strong {
  display: block;
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
}

#header .nav .gnb li .sub .sub-menu {
  margin-left: 50px;
}

#header .nav .gnb li .sub .sub-menu ul li a {
  font-size: 16px;
  line-height: 30px;
}/*# sourceMappingURL=styles.css.map */